{
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb/hooks",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "semi": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "unicorn/no-null": "off",
    "react-native/no-inline-styles": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/semi": "error",
    "react/react-in-jsx-scope": "off",
    "unicorn/prefer-query-selector": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "unicorn/consistent-function-scoping": [
      "error",
      { "checkArrowFunctions": false }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "unicorn/numeric-separators-style": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "@typescript-eslint/no-unused-expressions": "warn",
    "default-param-last": "off",
    "@typescript-eslint/default-param-last": "warn"
  }
}
